.generator {
  h1 {
    font-family: $title-font;
    font-size: 2.75rem;
    text-align: center;
    margin: 10px;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
}

.palette-main {
  display: flex;
}