.projects-display-grid {
  display: flex;
  margin-left: 15px;
  width: auto;
}

.projects-display-grid_column {
  padding-left: 30px;
  background-clip: padding-box;
}
 
.projects-display-grid_column > div {
  background: grey;
  margin-bottom: 30px;
}

.no-projects {
  color: #e6e8ed;
  font-size: 1.4rem;
  text-align: center;
  margin: 50px 0;
}