.controls {
  background-color: $secondary-background;
  display: grid;
  grid-template-columns: 1fr 2fr;
  input {
    font-size: 20px;
    overflow-x: hidden;
    width: 215px;
    color: $text-accent;
    background-color: #212121;
    border: none;
    border-radius: 10px;
    outline: none;
    padding: 5px;
    height: 40px;
    padding-left: 15px;
  }
  button {
    @extend .get-palettes-btn;
    background: linear-gradient(to right, #4d5760, #979da0);
    margin-left: 15px;
  }
}