.locked {
  background: url(./images/locked.svg);
  background-size: cover;
  height: 45px;
  width: 45px;
  border: none;
  cursor: pointer;
  outline: none;
  margin-bottom: 70px;
}
.unlocked {
  background: url(./images/unlocked.svg);
  background-size: cover;
  height: 45px;
  width: 45px;
  border: none;
  cursor: pointer;
  outline: none;
  margin-bottom: 70px;
}

.color-individual {
  height: 250px;
  width: 250px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.lock-control {
  h4 {
    font-size: 24px;
    font-weight: 400;
    color: $main-background;
    text-shadow:
    -.3px -.3px 0 #ffff,
    .3px -.3px 0 #ffff,
    -.3px .3px 0 #ffff,
    .3px .3px 0 #ffff;
  }
  flex-direction: column;
  display: flex;
  margin-bottom: 15px;
  align-items: center;
}

.generator-btns {
  margin: 10px;
  button {
    font-size: 20px;
    padding: 10px 15px;
    margin: 10px;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
    background: linear-gradient(to right, #4d5760, #979da0);
    border: none;
    color: $text-accent;
  }
}