.project-card {
  box-shadow: 8px 9px 12px -11px rgb(72, 70, 72);
  margin: 25px;
  width: 315px;
  display: flex;
  flex-direction: column;
  background-color: $secondary-background;
  align-items: center;
  border-radius: 15px;
  padding: 15px;
}

.project-name {
  display: flex;
  padding: 15px 0 10px 15px;
  align-items: center;
  button {
    width: 20px;
    height: 20px;
    outline: none;
    cursor: pointer;
    border: none;
    margin: 5px 10px;
   
  }
  .save-name-btn {
    @extend button;
    background: url(./images/save.svg);
    background-size: cover;
  }

  .edit-name-btn {
     @extend button;
    background: url(./images/edit.svg);
    background-size: cover;
  }
  
  .delete-name-btn {
    @extend button;
    background: url(./images/delete.svg);
    background-size: cover;
    margin-right: 20px;
  }

  h3 {
    font-size: 20px;
    overflow-x: hidden;
    width: 215px;
    color: $text-accent;
    padding-left: 5px;
  }

  input {
    @extend h3;
    background-color: #212121;
    border: none;
    border-radius: 10px;
    outline: none;
    padding-left: 15px;
    height: 35px;
  }
}

.get-palettes-btn {
  border: none;
  border-radius: 10px;
  outline: none;
  width: 115px;
  margin-bottom: 15px;
  font-size: 16px;
  padding: 5px;
}