@import './containers/App/App.scss';
@import './containers/Generator/Generator.scss';
@import './containers/ProjectsDisplay/ProjectsDisplay.scss';
@import './components/Loading/Loading.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
