@import './containers/App/App.scss';
@import './containers/Controls/Controls.scss';
@import './containers/Generator/Generator.scss';
@import './components/Loading/Loading.scss';
@import './containers/ProjectsDisplay/ProjectsDisplay.scss';
@import './containers/ProjectCard/ProjectCard.scss';
@import './containers/Palette/Palette.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
